@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --app-background: #010116;
  --CTA-text-18px-bold-font-family: "Franie", Helvetica;
  --CTA-text-18px-bold-font-size: 18px;
  --CTA-text-18px-bold-font-style: normal;
  --CTA-text-18px-bold-font-weight: 700;
  --CTA-text-18px-bold-letter-spacing: 0px;
  --CTA-text-18px-bold-line-height: 150%;
  --CTA-text-small-12px-font-family: "Franie", Helvetica;
  --CTA-text-small-12px-font-size: 12px;
  --CTA-text-small-12px-font-style: normal;
  --CTA-text-small-12px-font-weight: 700;
  --CTA-text-small-12px-letter-spacing: 0px;
  --CTA-text-small-12px-line-height: 150%;
  --desktop-h2-title-font-family: "BankGothic Md BT", Helvetica;
  --desktop-h2-title-font-size: 50px;
  --desktop-h2-title-font-style: normal;
  --desktop-h2-title-font-weight: 500;
  --desktop-h2-title-letter-spacing: 0px;
  --desktop-h2-title-line-height: 120.00000762939453%;
  --desktop-h3-title-font-family: "BankGothic Md BT", Helvetica;
  --desktop-h3-title-font-size: 24px;
  --desktop-h3-title-font-style: normal;
  --desktop-h3-title-font-weight: 500;
  --desktop-h3-title-letter-spacing: 0px;
  --desktop-h3-title-line-height: 120.00000762939453%;
  --desktop-paragraph-10px-font-family: "Franie", Helvetica;
  --desktop-paragraph-10px-font-size: 10px;
  --desktop-paragraph-10px-font-style: normal;
  --desktop-paragraph-10px-font-weight: 400;
  --desktop-paragraph-10px-letter-spacing: 0px;
  --desktop-paragraph-10px-line-height: 150%;
  --desktop-paragraph-18-font-family: "Franie", Helvetica;
  --desktop-paragraph-18-font-size: 18px;
  --desktop-paragraph-18-font-style: normal;
  --desktop-paragraph-18-font-weight: 400;
  --desktop-paragraph-18-letter-spacing: 0px;
  --desktop-paragraph-18-line-height: 150%;
  --desktop-title-header-font-family: "BankGothic Md BT", Helvetica;
  --desktop-title-header-font-size: 70px;
  --desktop-title-header-font-style: normal;
  --desktop-title-header-font-weight: 500;
  --desktop-title-header-letter-spacing: 0px;
  --desktop-title-header-line-height: 120.00000762939453%;
  --genericwhite: rgba(255, 255, 255, 1);
  --grey-100: rgba(200, 200, 221, 1);
  --grey-200: rgba(237, 231, 255, 1);
  --h4-link-footer-font-family: "Franie", Helvetica;
  --h4-link-footer-font-size: 10px;
  --h4-link-footer-font-style: normal;
  --h4-link-footer-font-weight: 600;
  --h4-link-footer-letter-spacing: 0px;
  --h4-link-footer-line-height: 150%;
  --item-nav-menu-font-family: "Franie", Helvetica;
  --item-nav-menu-font-size: 12px;
  --item-nav-menu-font-style: normal;
  --item-nav-menu-font-weight: 600;
  --item-nav-menu-letter-spacing: 0px;
  --item-nav-menu-line-height: normal;
  --paragraph-regular-font-family: "Franie", Helvetica;
  --paragraph-regular-font-size: 15px;
  --paragraph-regular-font-style: normal;
  --paragraph-regular-font-weight: 400;
  --paragraph-regular-letter-spacing: 0px;
  --paragraph-regular-line-height: 150%;
  --principalelight: rgba(237, 231, 255, 1);
  --secondary-400: rgba(182, 189, 254, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-[#010116] text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}